<div class="back">
  <div class="container">
    <form class="signup-form" [formGroup]="signUpForm">
      <h1>Signup-form</h1>
      <mat-form-field class="example-full-width input-box">
        <input matInput placeholder="Name*" formControlName="name">
        <mat-error *ngIf="signUpForm.get('name')?.hasError('required') && signUpForm.get('name')?.touched">
          Name is required.
        </mat-error>
        <mat-error *ngIf="signUpForm.get('name')?.hasError('pattern') && signUpForm.get('name')?.touched">
          Name must be between 2 and 35 characters and only contain alphabets.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width input-box">
        <input matInput placeholder="Email*" formControlName="email">
        <mat-error *ngIf="signUpForm.get('email')?.hasError('email') && signUpForm.get('email')?.touched">
          Please enter a valid email address.
        </mat-error>
        <mat-error *ngIf="signUpForm.get('email')?.hasError('required') && signUpForm.get('email')?.touched">
          Email is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width input-box">
        <input matInput type="Password" placeholder="Password*" formControlName="password">
        <mat-hint align="end">{{ signUpForm.get('password')?.value?.length }}/6 characters</mat-hint>
        <mat-error *ngIf="signUpForm.get('password')?.hasError('required') && signUpForm.get('password')?.touched">
          Password is required.
        </mat-error>
        <mat-error *ngIf="signUpForm.get('password')?.hasError('minlength') && signUpForm.get('password')?.touched">
          Password must be at least 6 characters.
        </mat-error>
        <mat-error *ngIf="signUpForm.get('password')?.hasError('pattern') && signUpForm.get('password')?.touched">
          Password must contain at least one uppercase letter and one alphanumeric or special character.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width input-box">
        <input matInput type="password" placeholder="ConfirmPassword*" formControlName="ConfirmPassword">
        <mat-error *ngIf="signUpForm.get('ConfirmPassword')?.hasError('required') && signUpForm.get('ConfirmPassword')?.touched">
          Confirm Password is required.
        </mat-error>
        <mat-error *ngIf="signUpForm.get('ConfirmPassword')?.hasError('mismatch') && signUpForm.get('ConfirmPassword')?.touched">
          Password and Confirm Password do not match.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="signUpForm.invalid" (click)="submitForm()">Sign Up</button>

      <h3 class="already-account"><a routerLink="/login"> Already Have an Account? Login</a></h3>
    </form>
  </div>
  <div class="Sidecontent">
    <h1> Welcome!!</h1>
    <h2> Sign-Up to register</h2>
  </div>
</div>
