<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="isSidenavOpen">
    <mat-nav-list>
      <a mat-list-item (click)="showReportOptions = true; showRecordOptions = false">Report</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Salary Report</span>
      <button class="logout-button" (click)="logout()">Log Out</button>
    </mat-toolbar>

    <div *ngIf="showReportOptions" class="button-dropdowns">
      <!-- Report Content -->
      <mat-form-field>
        <mat-label>Select Month</mat-label>
        <mat-select [(ngModel)]="selectedMonth" (ngModelChange)="generateReport()" name="selectedMonth">
          <mat-option *ngFor="let month of months" [value]="month">{{month}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Employee</mat-label>
        <mat-select [(ngModel)]="selectedEmployee" (ngModelChange)="generateReport()" name="selectedEmployee">
          <mat-option *ngFor="let employee of employeeData" [value]="employee">{{employee.firstName}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="showReportGrid">
        <!-- Grid to display the report -->
        <table>
          <thead>
            <tr>
              <th>EmployeeID</th>
              <th>Employee Name</th>
              <th>Role</th>
              <th>Salary Month</th>
              <th>Salary</th>
              <th>Leaves</th>
              <th>Deductions</th>
              <th>Net Pay</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let record of reportData">
              <td>{{ selectedEmployee.id }}</td>
              <td>{{ selectedEmployee.firstName }}</td>
              <td>{{record.role}}</td>
              <td>{{ record.salaryMonth }}</td>
              <td>{{ record.salary }}</td>
              <td>{{ record.leaves }}</td>
              <td>{{ record.deductions }}</td>
              <td>{{ record.netPay }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
